<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adsofsito.reuniclus_leju"> <!-- Replace with your actual package name -->

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Application tag must be present -->
    <application
        android:label="reuniclus_leju"
        android:icon="@mipmap/ic_launcher">

        <!-- Define your main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|density|layoutDirection"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
